:root {
  /* colors */
  --base_clr: #ffffff;
  --primary_clr: #f45b03;
  --primary_clr--hover: #c94a00;
  /* specifics */
  --select_padding: 12px;
}

html {
  font-family: sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
}

body > * {
  width: 50%;
  /* height: 100%; */
}

figure {
  padding: 1rem 1rem 1rem 1rem;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
}

img {
  display: block;
  position: relative;
  object-fit: cover;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}

/* form styling */

section {
  display: grid;
  place-items: center;
  padding: 1rem 1rem 1rem 1rem;
  background-color: var(--base_clr);
}

@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }

  body > * {
    width: 100%;
  }

  body > figure {
    height: 35vh;
    margin: auto;
  }

  body figure > img {
    max-width: 480px;
    margin: auto;
  }
}

form {
  max-width: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

form :is(select, input:not(input[type="range"], input[type="button"])) {
  border-radius: 0.5rem;
  border: none;
  border: 0.1rem solid hsla(0, 0%, 0%, 0.15);
  height: 3.5rem;
  padding: var(--select_padding);
}

form :is(select, input:not(input[type="range"], input[type="button"])):focus {
  border: 0.1rem solid hsla(0, 0%, 0%, 1);
  outline: none;
}

form legend {
  font-size: 150%;
}

form div {
  position: relative;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 8px;
}

form select {
  appearance: none;
  padding: var(--select_padding);
  overflow: visible;
}

form *::placeholder {
  opacity: .4;
}

label[for="steden"]::after {
  content: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L7 7.5L13 1.5' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  position: absolute;
  right: var(--select_padding);
  bottom: 20px;
}

/* Form specific */

#voorkeuren div:last-of-type div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#voorkeuren div:last-of-type div:last-of-type {
  font-size: 12px;
  opacity: 0.4;
}

#login div:last-of-type {
  display: flex;
  gap: 8px;
}

/* Buttons */

button,
input[type="button"],
input[type="submit"],
.link-button {
  text-decoration: none;
  border: none;
  font-weight: 400;
  font-size: 90%;
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  height: 56px;
  cursor: pointer;
  background-color: var(--primary_clr, #f45b03);
  color: var(--base_clr, white);
}

.secondary {
  background-color: #ffefe6;
  color: var(--primary_clr, #f45b03);
}

.secondary {
  background-color: #ffefe6;
  color: var(--primary_clr, #f45b03);
}

/* Sliders */

input[type="range"] {
  height: 56px;
  /* border: 2px solid black; */
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: var(--primary_clr, #f45b03);
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  border: 4px solid var(--primary_clr, #f45b03);
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--primary_clr, #f45b03);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: var(--primary_clr, #f45b03);
  border-radius: 50px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 4px solid var(--primary_clr, #f45b03);
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--primary_clr, #f45b03);
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: var(--primary_clr, #f45b03);
  border: 0px solid #000000;
  border-radius: 100px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 4px solid var(--primary_clr, #f45b03);
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--primary_clr, #f45b03);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--primary_clr, #f45b03);
}
