
h1 {
  font-size: 200%;
  font-weight: 300;
}

h2 {
  font-size: 160%;
  font-weight: 200;
}

h3 {
  font-size: 120%;
  font-weight: 400;
}

#update section{
    & > div:first-of-type {
      background-color: $third_clr;
      padding: 16px;
      border: 1.2 solid $primary_clr;
      margin-bottom: 24px;
      border-radius: $radius-md;
      h2:first-child {
        padding-bottom: 8px;
        color: $primary_clr;
      }
      ul {
        list-style: none;
      }
  }
    & form > div:last-of-type {
      @include space-between
  }
}

