<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <link rel="stylesheet" href="css/styles.css">
</head>


<body>


   <header>
      <%- include('../partials/header') %>
   </header>
   

   <main>

      <h2>Stel uw voorkeuren in</h2>

      <h3>In welke stad wilt u wonen?</h3>
      <form id="form" action='/resultaten' method="post">
         <input id="text1" type="text" name="textfield1">
      
         <input id= "huizen1" list="huizen" name="stad">
         <datalist id="huizen">
           <option value="stad1">
           <option value="stad2">
           <option value="stad3">
           <option value="stad4">
           <option value="stad5">
         </datalist>
       
       <h3>Wat is uw budget?</h3>
      
       <input id="text2" type="text" name="textfield2">
         <input id="slider" name="budget" class="slider" value="201" type="range" min="200" max="1500" oninput="this.nextElementSibling.value = this.value"> 
         <output></output>
       <input id="submit" type="submit" value="Sla voorkeuren op">
         
      </form> 
      
      
      <!-- tijdelijke button geolocation -->
      <button id = "find-me">Show my location</button><br/>
      <p id = "status"></p>
      <a id = "map-link" target="_blank"></a>


   </main>
  

  <footer>
     <%- include('../partials/footer') %>
  </footer>

 <!-- Link javascript -->
  <script src="/static/js/script.js"></script>
  
   

</body>
</html>