<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <link rel="stylesheet" href="css/styles.css">
</head>


<body>
  
  <%- include('../partials/header') %>
   
   
   <main>

      <h2>Stel uw voorkeuren in</h2>

      <h3>In welke stad wilt u wonen?</h3>
      <form name= "data" id="form" action='/resultaten' method="post">
         <input id="text1" type="text" name="textfield1">
      
         
         <select name= "stad" id="huizen1">
           <option id="stad1" value= "" >
           <option id= "stad2" value="">
           <option id= "stad3" value="">
           <option id= "stad4" value="">
           <option id= "stad5" value="">
          </select>


       <h3>Wat is uw budget?</h3>
      
       <input id="text2" type="text" name="textfield2">
         <input id="slider" name="budget" class="slider" value="201" type="range" min="200" max="1500" oninput="this.nextElementSibling.value = this.value"> 
         <output></output>
       <input id="submit" type="submit" value="Sla voorkeuren op">
         
      </form> 

  
      


   </main>
  

 
   <%- include('../partials/footer') %>


 <!-- Link javascript -->
  <script src="/static/js/script.js"></script>
  
  
   

</body>
</html>