<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filter</title>
  <link rel="stylesheet" href="css/styles.css">
</head>


<body>

  <%- include('../partials/header') %>

    <main id="main3">

      <h2> Welkom</h2>
      <img src="../../static/img/housesdarknlight.webp" alt="A dark and a light house">
      <p>Rooms is een matching app die jou matcht aan je perfecte huis, door het invoeren van jouw voorkeuren. </p>

      <a href="filter">Begin</a>   

    </main>

    <%- include('../partials/footer') %>

      <!-- Link javascript -->
      <script src="/static/js/script.js"></script>

</body>
</html>