<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filter</title>
  <link rel="stylesheet" href="css/styles.css">
</head>


<body>

  <%- include('../partials/header') %>

  <aside>
    <img src="/img/before1.png" alt="">
  </aside>

    <main id="main3">
      <h2>Registreer</h2>
      <form action="/register" method="post">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <button type="submit">Register</button>
      </form>
    </main>

    <%- include('../partials/footer') %>

      <!-- Link javascript -->
      <script src="/static/js/script.js"></script>

</body>

</html>