<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultaten</title>

    <link rel="stylesheet" href="css/superstyle.css">
</head>


<body>
    <figure>

        <img src="../../static/img/house1.jpg" alt="Picture of a house">
    </figure>
    <section method="/resultaten" class="main2">
        
        <h2>De perfecte match voor:</h2>
        <span> <%- houses.prijs %></span>

        <!-- Hier komen de opgehaalde resultaten-->
        <section>
            <h3>Huizen in <%= stad %>
            </h3>
            <h3>Budget: €<%= budget %>
            </h3>

            <h4>Niet de perfecte match? Probeer het opnieuw:</h4>
            <a href="update" class="link-button secondary">Pas voorkeuren aan</a>
        </section>

    </section>


</body>

</html>